.gallery-tablink {
    border-top: 1px solid #c9c9c9;
    justify-content: space-between;
    justify-content: center;
    column-gap: 1em;
    padding: 0;
}

.gallery-tablink > a {
    text-decoration: none;
    color: black;
    padding: .5em;
}

.gallery-tablink > .active {
    font-weight: bold;
}

.gallery-tablink > a:hover {
    background-color: #f3f3f3;
}

.gallery-tablink > a:active {
    background-color: #c9c9c9;  
    color: #0099ff;
}


.gallery-grid {
    display: flex;
    justify-content: flex-start;
    column-gap: 5%;
    row-gap: 1em;
    flex-wrap: wrap;
}

.gallery-frame {
    position: relative;
    width: 30%;
    height: 0;
    padding-bottom: 30%;
}

.gallery-frame > img {
    width: 100%;
}

.gallery-iteminfo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-weight: bold;
    top: 0;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
}


.gallery-iteminfo:hover {
    opacity: 1;
}

@media screen and (max-width: 480px) {
    .gallery-frame {
        width: 100%;
        height: auto;
        padding-bottom: 0;
    }

    .gallery-iteminfo {
        opacity: 1;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        color: black;
        font-weight: unset;
        background-color: transparent;
        margin-bottom: 1em;
    }
}

